// auto generate
export interface Word {
    label: string;
    text: string;
}
const defaultWords: Word[] = [
    {{#wordList}}
    {
        label: '{{label}}',
        text: '{{text}}',
    },
    {{/wordList}}
];

export default defaultWords;
