@import '../../themes/default.less';
.app-header {
    padding: 10px;
    .radio-text, .ant-radio-wrapper {
        color: @text-color-bright;
    }
}

.header-modal--words-length {
    text-align: right;
    .error-word {
        color: @error-color;
    }
}
