.app-header {
    padding: 10px;
    .ant-btn-link,
    .radio-text, .ant-radio-wrapper {
        color: var(--text-color-bright);
        .ant-radio-inner {
            border-color: var(--primary-color);
            &::after {
                background-color: var(--primary-color);
            }
        }
    }
}

.header-modal--words-length {
    text-align: right;
    .error-word {
        color: var(--error-color);
    }
}
.header-modal-confirm-btn {
    background-color: var(--body-back-color);
    border-color: var(--body-back-color);
    &:hover,&:focus {
        background-color: var(--body-back-color);
        border-color: var(--body-back-color);
        filter: brightness(1.5);
    }
    span {
        color: var(--text-color-bright);
    }
}
.header-modal-setting {
    .ant-modal-content {
        background-color: var(--home-window-back-color);
        .ant-tabs-nav {
            color: var(--home-window-text-color);
            .ant-tabs-tab:hover {
                color: var(--home-window-text-color);
                filter: brightness(1.5);
            }
            .ant-tabs-tab-active {
                color: var(--primary-color);
            }
        }
        .ant-tabs-ink-bar {
            background-color: var(--primary-color);
        }
        .header-modal--total {
            color: var(--home-window-text-color);
        }
    }
}
.header-modal-theme{
    .ant-modal-content {
        background-color: var(--home-window-back-color);
        .ant-modal-close-x {
            color: var(--primary-color);
        }
    }
    &--box {
        padding-top: 24px;
        .theme-display-block {
            height: 50px;
            line-height: 50px;
            border-radius: 10px;
            margin-top: 12px;
            cursor: pointer;
            text-align: center;
            transition: transform .2s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
