:root {
    --primary-color: #e8c4b8;
    --bg-color: #363434;
    --head-text-color: #e8c4b8;
    --home-window-bg-color: #fafafa;
    --home-window-text-color: #363434;
    --home-window-text-acting-bg-color: rgba(102, 102, 102, 0.26);
    --home-countdown-text-color: #e8c4b8;
    --home-reload-btn-bg-color: #e8c4b8;
    --home-reload-btn-text-color: #fafafa;
    --word-count-checked-color: #fafafa;
    --monkey-caret-color: #fafafa;
}
