:root {
    --primary-color: #81c4dd;
    --bg-color: #ced7e0;
    --head-text-color: #7599b1;
    --home-window-text-color: #7599b1;
    --home-countdown-bg-color: #7599b1;
    --home-countdown-text-color: #ced7e0;
    --home-reload-btn-bg-color: #81c4dd;
    --home-reload-btn-text-color: #ced7e0;
    --word-count-checked-color: #81c4dd;
    --monkey-caret-color: #81c4dd;
}
