:root {
    --primary-color: #FBC300;
    --success-color: #00FFF9;
    --error-color: #E400D4;
    --bg-color: #141414;
    --home-window-bg-color: #232323;
    --home-window-text-color: #fffffe;
    --home-countdown-bg-color: #232324;
}
